.navbar-brand {
    font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans';
    color: #1f192f;
}

body{
    font-family: 'Open Sans';
    color: #1f192f;
}

a {
    color: #1f192f;
    text-decoration: none;
}

a:hover {
    color: #65b8a6;
    text-decoration: none;
}

/* NAVBAR */
.navbar-inverse {
    background-color: #2d6073;
    border-color: #1f192f;
}
.navbar-logo {
    height: 50px;
}

.navbar-brand {
    float: right;
    padding: 14.5px 15px;
    font-size: 19px;
    line-height: 21px;
    height: 50px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #65b8a6;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #65b8a6;
}

/* SIDEBAR */
.section.sidebar {
    background-color: #65b8a6;
}

/* WIDGETS */
.irs--shiny .irs-bar {
    top: 25px;
    height: 8px;
    border-top: 1px solid #2d6073;
    border-bottom: 1px solid #2d6073;
    background: #2d6073;
}

.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
    color: #fff;
    text-shadow: none;
    padding: 1px 3px;
    background-color: #2d6073;
    border-radius: 3px;
    font-size: 11px;
    line-height: 1.333;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-secondary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary {
    background: #2d6073;
    color: #fff;
}

.btn-default {
    background-color: #2d6073;
    border-color: #1f192f;
}

.btn-default:hover {
    background-color: #b5e8c3;
    border-color: #1f192f;
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
    background-color: #b5e8c3;
    border-color: #1f192f;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: white;
}